.container{
    padding: 3rem 0;
    width: 85vw;
    margin: auto;
    margin-top: 7rem;
    /* border: 1px solid blue; */
}
.container span{
    font-size: 1.5rem;
    color: blue;
}
.container h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.container h1 span{
    color: blue;
    font-size: 3rem;

}
.faq_section{
    width: 90%;
    margin: auto;
    /* margin: 3rem 0; */
}
.accordion_heading{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    /* height: 3.5rem; */
    padding:  12px 30px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}
.accordion_heading .icon{
    font-size: 1.5rem;
    color: blue;
}
.faq_section .active{
    margin: 2px 0;
    padding: 15px 30px;
    border: 2px dashed grey;
    color: grey;
    display: block ;
}
.faq_section .inactive{
    padding: 15px 30px;
    display: none;
}

@media screen and (max-width:700px) {
    .container h1{
        font-size: 2.5rem;
        margin-top: 1rem;
    }
}